.customBar {
  background-color: #f2f2f2 !important;
}

.headerTitle {
  font-weight: bold !important;
}

.sapMListTblHeaderCell .sapMText {
  font-weight: bold !important;
}

.sapMBtnInner  {
  border-radius: 8px !important;
}
